.addProductcontainer{
   width:98%;
  height:35rem;
  background-color:green;
  border:2px solid #464007;
  margin:0 auto;
  margin-top:-40px;
  position:relative;
  border-top:none;
  box-shadow:inset 2px 2px 2px 2px #4e4e04
}
.title{
  width:15rem;
  height:2rem;
  color:#0d3f1c;
  margin:5px auto;
}
.formBox{
  width:22rem;
  height:30rem;
  background-color:white;
  margin:3rem auto;
  position:relative;
  top:20px;
  padding:10px;
  font-size:25px;
  font-weight:600;
  border-radius:5px;
}

input{
  width:20rem;
  height:2rem;
  border:2px solid hsla(120,100%,25%,0.8);
  padding-left:20px;
  font-size:20px;
  overflow-wrap: break-word;
   word-wrap: break-word; 
    word-break: break-word;
}
.buttonContainer{
  width:6rem;
  height:2rem;
  font-size:20px;
  font-weight:700;
  background-color:greenyellow;
  position:absolute;
  bottom:2rem;
  right:1rem;
 }
